<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
</head>
<body>
  {% include 'alerts.html' %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="user_type">User Type:</label><br>
    <select name="user_type" id="user_type" required>
      <option value="CollegeFaculty">College Faculty SPOC</option>
      <option value="CollegeStudent">College Student</option>
    </select><br>
    <button type="submit">Login</button>
  </form>
  <a href="{% url 'forgotPassword' %}">Forgot Password?</a>
</body>
</html>
