<!DOCTYPE html>
<html>
<head>
    <title>{{ hackathon.title }}</title>
</head>
<body>
    <h1>{{ hackathon.title }}</h1>
    <p>Start Date: {{ hackathon.start_date }}</p>
    <p>End Date: {{ hackathon.end_date }}</p>
    <h2>Rules:</h2>
    <p>{{ hackathon.rules }}</p>
    <h2>Regulations:</h2>
    <p>{{ hackathon.regulations }}</p>
    <h2>Guidelines:</h2>
    <p>{{ hackathon.guidelines }}</p>

    <select id="signupOption">
        <option value="{% url 'student_signup' %}">Student Sign Up</option>
        <option value="{% url 'faculty_signup' %}">Faculty Sign Up</option>
    </select>
    <button onclick="signup()">Signup</button>

    <a href="{% url 'login' %}">Login</a>

    <script>
        function signup() {
            var option = document.getElementById("signupOption").value;
            window.location.href = option;
        }
    </script>
</body>
</html>
