<!DOCTYPE html>
<html>
<head>
    <title>{{ hackathon.title }}</title>
</head>
<body>
    <h1>{{ hackathon.title }}</h1>
    <p>Start Date: {{ hackathon.start_date }}</p>
    <p>End Date: {{ hackathon.end_date }}</p>
    <h2>Rules:</h2>
    <p>{{ hackathon.rules }}</p>
    <h2>Regulations:</h2>
    <p>{{ hackathon.regulations }}</p>
    <h2>Guidelines:</h2>
    <p>{{ hackathon.guidelines }}</p>

    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Sign Up</a>
</body>
</html>
